<!doctype html>
<html>
  <head>
    <title>HMER App</title>
    <link rel="stylesheet" href="./static/style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="hero">
      <div class="upload">
        <h2>Upload Math Image</h2>

        <form method="POST" enctype="multipart/form-data">
          <label for="imageInput" class="custom-file-upload">
            Choose Image
          </label>
          <input type="file" name="image" id="imageInput" accept="image/*" />
          <div id="imagePreviewContainer" class="preview-container">
            <img
              id="imagePreview"
              src="#"
              alt="Image Preview"
              class="preview-image"
            />
          </div>
        </form>
      </div>

      <!-- <div class="canvas-section" style="margin-bottom: 20px">
        <h2>Or Draw Math Here</h2>
        <canvas
          id="canvas"
          style="
            background-color: white;
            border-radius: 8px;
            cursor: crosshair;
            touch-action: none;
          "
        ></canvas>
        <br />
        <button
          type="button"
          onclick="clearAll()"
          style="background-color: #e74c3c; margin: 10px"
        >
          Clear
        </button>
      </div> -->
    </div>
    <div class="right">
      <div style="text-align: center; margin-top: 10px; padding: 10px">
        <div style="text-align: center; margin: 20px">
          <button type="button" id="globalPredictBtn" class="primary-btn">
            Predict
          </button>
          <button
            type="button"
            id="cancelPredictBtn"
            class="primary-btn"
            style="background-color: #e74c3c; display: none"
          >
            Cancel</button
          ><br />
        </div>
        <button
          id="connectMobileBtn"
          class="primary-btn"
          style="background-color: #2c3e50"
        >
          Connect Mobile (QR Code)
        </button>
        <div
          id="qrcode"
          style="margin-top: 10px; display: flex; justify-content: center"
        ></div>
      </div>
      <div class="latex" id="latexSection">
        <h3>Output:</h3>
        <!-- Editable LaTeX -->
        <textarea
          id="latexBox"
          rows="4"
          cols="60"
          placeholder="Upload an image to get the LaTeX, or type here..."
        ></textarea>
        <br /><br />
        <!-- Copy Button -->
        <button onclick="copyLatex()">Copy LaTeX</button>
        <br /><br />
        <!-- Rendered Math -->
        <div id="mathOutput"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>
    <script src="./static/script.js"></script>
  </body>
</html>
